.catalogue-container {
    text-align: center;
    background-color: #f5f5f5;
  }
  
.catalogue-sections {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin: 0 auto; /* This centers the container. Adjust the top and bottom margins as needed */
  padding: 0 10px; /* This adds a little padding on the left and right, reducing the space to the edge */
}

.catalogue-section {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust as needed */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensure the link covers the entire section */
  text-decoration: none; /* Remove underline from links */
  font-size: 24px; /* Adjust text size */
  font-weight: bold; /* Make text bold */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.catalogue-section:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slightly enlarge sections on hover */
}

/* Additions to the existing CSS, focusing on sub-sections */
.sub-sections-container {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line if not enough space */
  gap: 20px; /* Space between sub-sections */
  padding: 20px; /* Padding around the entire container for some spacing */
}

.catalogue-sub-section {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 20px 10px; /* Adjust padding to control the shape, more vertical padding */
  min-width: 120px; /* Minimum width to ensure a more rectangular shape */
  height: auto; /* Height adjusts based on content */
  background-color: #007bff; /* Example background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box; /* Includes padding in width/height calculations */
}

.catalogue-sub-section:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.home-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}
